<section id="about" class="container">
	<div class="h2 hidden-xs">
		<p>Hi there. I'm Olivia.</p>
	</div>
	<div class="row row-container">
		<div class="column col-sm-4" data-aos="fade">
			<p class="what-i">what i</p>
			<p class="verb">code.</p>
			<ul>
				<li class="text">ui/ux</li>
				<li class="text">front end</li>
				<li class="text">full stack</li>
			</ul>
		</div>
		<div class="column col-sm-4" data-aos="fade" data-aos-delay="1000">
			<p class="what-i">what i</p>
			<p class="verb">make.</p>
			<ul>
				<li class="text">interactive sites</li>
				<li class="text">mobile apps</li>
				<li class="text">web apps</li>
			</ul>
		</div>
		<div class="column col-sm-4" data-aos="fade" data-aos-delay="2000">
			<p class="what-i">what i</p>
			<p class="verb">use.</p>
			<ul>
				<li class="text">react native</li>
				<li class="text">ruby on rails</li>
				<li class="text">sketch</li>
			</ul>
		</div>
	</div>
</section>
<!-- <canvas class="background"></canvas> -->