
<section id="about">
	<div class="about-text">
		<h1>About Me</h1>
		<p>I’m currently an intern at <a href="https://inplay.org" target="_">InPlay.org</a> and a student at Palo Alto High. I'm also a competitive figure skater and a huge nerd. Things I obsess over include, but are not limited to, <a href="https://hpquotes.oliviachang.me" target="_">Harry Potter</a>, <a href="https://iroh.oliviachang.me" target="_">The Last Airbender</a> (the TV show, of course), Disney/Pixar movies, and xkcd.</p>
	</div>
</section>