<section id="client-work" class="section-small-projects">
	<h1>Client Work</h1>
	<div class="row">
		{% assign projects = site.client_work | sort: "order" %}
		{% for project in projects %}
			<div class="col-sm-6 col-md-4" data-aos="fade-in">
				<a class="project-link" href="{{ project.url }}" target="_">
					<div class="client-work-container">
						<img class="lazy" src="/assets/images/lazy.jpg" data-src="{{project.small_image_url}}">
						<h3>{{project.title}}</h3>
						<p>{{project.desc}}</p>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</section>