<footer id="contact">
	<div id="footer-links-container">
		<div id="footer-links">
			<a href="mailto:{{site.email}}" class="mono" target="_">Email</a>
			<a href="https://github.com/oliviachang29" class="mono" target="_">Github</a>
			<a href="https://www.linkedin.com/in/oliviazyc/" class="mono" target="_">Linkedin</a>
			<a href="https://dribbble.com/oliviazyc" class="mono" target="_">Dribbble</a>
			<!-- <a href="/resume" class="mono" target="_">Resume</a> -->
		</div>
	</div>
	<p id="copyright" class="mono">&#xa9; <script>document.write(new Date().getFullYear())</script> Olivia Chang. All rights reserved.</p>
</footer>

{% include scripts.html %}