<div id="logo" class="noselect rellax" data-rellax-speed="5">
	<p>Olivia</p>
	<p>Chang.</p>
</div>
<div id="header">
	<div class="noselect name-art rellax" data-rellax-speed="-10">
		<p class="name-art-top">oli</p>
		<p>via</p>
		<p>cha</p>
		<p>ng</p>
	</div>
	<div class="noselect desc-words">
		<p class="desc-words-top rellax" data-rellax-speed="7" style="opacity:0.2">nerd.</p>
		<p class="rellax" data-rellax-speed="5" style="opacity:0.3">artist.</p>
		<p class="rellax" data-rellax-speed="3" style="opacity:0.4">student.</p>
		<p class="rellax" data-rellax-speed="2" style="opacity:0.6">designer.</p>
		<p class="rellax" data-rellax-speed="1" style="opacity:0.9">developer.</p>
	</div>
</div>