<header class="add-border vertical-center header-border">
	<div class="content">
		<div id="logo">
			<h1 id="name">Olivia Chang</h1>
			<div class="underline" id="underline-logo"></div>
		</div>

		<!-- Simple social icons -->
		<div class="icon-effect icon-effect-1a">
		  	<a href="mailto:hello@oliviachang.me" class="icon"><span webicon="foundation:mail" /></a>
			<a href="https://github.com/oliviachang29" class="icon"><span webicon="foundation:social-github" /></a>
			<a href="https://www.linkedin.com/in/oliviazyc/" class="icon"><span webicon="foundation:social-linkedin" /></a>
		</div>  

	</div>
</header>