<header class="add-border vertical-center header-border">
	<div class="content">
		<div id="logo">
			<h1 id="name">Olivia Chang</h1>
			<div class="underline" id="underline-logo"></div>
		</div>

		<!-- Simple social icons -->
		<div class="icon-effect icon-effect-1a">
		  	<a href="mailto:hello@oliviachang.me" class="icon"><i class="far fa-envelope"></i></a>
			<a href="https://github.com/oliviachang29" class="icon"><i class="fab fa-github"></i></a>
			<a href="https://www.linkedin.com/in/oliviazyc/" class="icon"><i class="fab fa-linkedin-in"></i></a>
		</div>  

	</div>
</header>