<nav class="navbar navbar-expand-lg navbar-light" data-aos="fade-in">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item noselect"><a class="nav-link nav-link-x mono" href="/">Home</a></li>
			<li class="nav-item noselect"><a data-scroll class="nav-link mono" href="/playground">Playground</a></li>
			<li class="nav-item noselect"><a data-scroll class="nav-link mono" href="/#about">About</a></li>
			<li class="nav-item noselect"><a data-scroll class="nav-link mono" href="mailto:hello@oliviachang.me">Contact</a></li>
		</ul>
	</div>
</nav>