{% assign projects = site.projects | sort: "order" %}
{% for project in projects %}
	<a class="project-link" href="{{project.link}}" target="_">
		<div class="project {% if forloop.last %} project-last {% endif %}" data-aos="fade-in">
			<div class="project-type noselect">
				<div class="project-type-spacer"></div>
				<p class="mono">{{project.type}}</p>
			</div>
			<div class="project-image-frame noselect">
				<img src="{{project.main_image_url}}">
			</div>
			<div class="project-info">
				<p class="project-index">0{{forloop.index}}</p>
				<h2 class="project-title">{{project.title}}</h2>
				<p class="project-desc">{{project.desc}}</p>
				<p class="project-language mono">{{project.language}}</p>
			</div>
		</div>
	</a>
{% endfor %}