<section data-aos="fade-up" data-aos-easing="ease-out">
	<div id="work">
		<h2>work</h2>
		<div class="underline"></div>
	</div>

	<div class="row">
		{% for project in site.projects %}   
		    <div class="col-md-6" data-aos="fade-up" data-aos-easing="ease-out">
				<a href="{{ project.link }}">
					<div class="grid">
						<figure class="effect-bubba" style="background-image: url('{{project.image-url}}')">
							<figcaption>
								<h2>{{ project.title }}</h2>
								<p>{{ project.description }}</p>
							</figcaption>			
						</figure>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>

</section>