<section data-aos="fade-up" data-aos-easing="ease-out">
	<div id="work">
		<h2>Work</h2>
		<div class="underline"></div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="/mere">
				<div class="grid">
					<figure class="effect-bubba" id="mere">
						<figcaption>
							<h2>Mere</h2>
							<p>Congressional App Challenge winner</p>
						</figcaption>			
					</figure>
				</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="/readlio">
				<div class="grid" id="readlio-grid">
					<figure class="effect-bubba" id="readlio">
						<figcaption>
							<h2>Readlio</h2>
							<p>Academic reading log with 2700+ users</p>
							
						</figcaption>			
					</figure>
				</div>
			</a>
		</div>
	</div>
</section>