@import "variables";

#client-work {
	padding-top: 5%;
}

.section-small-projects {
	margin: 5% $left-padding auto;
	h1 {
		text-align: left;
		margin-bottom: 60px;
	}
	img {
		width: 100%;
		margin-bottom: 20px;
	}
}

.project-link:hover .small-project-container {
	img {
		-webkit-transform:scale(.95);
	    -moz-transform:scale(.95);
	    -ms-transform:scale(.95);
	    -o-transform:scale(.95);
	     transform:scale(.95);
	}

	p {
		color: black;
	}
}

.small-project-container {
	text-align: center;
	margin-bottom: 60px;

	img {
		@include smooth-transition;
	}

	h3 {
		color: black;
		margin-top: 10px;
	}

	p {
		@include smooth-transition;

		font-family: $main-font;
		margin-top: 20px;
	}
}