footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer-links {
	margin: 0 auto;
	margin-bottom: 30px;
	a {
		margin: auto 10px;
		@media (min-width: $md) {
			margin: auto 20px;
		}
	}
}