#footer-links-container {
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer-links {
	margin: 0 auto;
	
	a {
		margin: auto 10px;
		@media (min-width: $md) {
			margin: auto 20px;
		}
	}

}

#copyright {
	font-size: 12px;
	text-align: center;
	color: #CECECE;
	padding-bottom: 1rem;
	margin-bottom: 0;
}