@import "variables";
html, body {
	height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Apercu Pro', 'Apercu Mono'
  , Graphik, Lato, Helvetica Neue,Helvetica,Arial,sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a {
  color: #4A4A4A;
  font-weight: normal;
  @include smooth-transition;
	&:hover {
		color: #000000;
		text-decoration: none;
	}
}