#logo {
  width: 250px;
  min-height: 130px;
  background: #000;
  padding: 20px 10px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  /* p */
  font-weight: bold;
  font-size: 67.2px;
  color: #FFFFFF;
  letter-spacing: -2.52px;
  line-height: 50px;

  @media only screen and (min-width : 320px) {
    margin-top: 50px
  }
}

#header {
  width: 95%;
  height: 100%;
  z-index: 0;
  margin: 0 auto;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  @media only screen and (max-width : 992px) {
    display: none;
  }
}

.name-art {
  opacity: 0.08;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: -16.93px;
  margin-right: 50px;
  font-size: 380px;
  line-height: 190px;
  align-self: center;
  @media only screen and (max-width : 1200px) {
    font-size: 300px;
    line-height: 150px;
    margin-right: 0px;
  }

  @media only screen and (max-width : 992px) {

  }

  @media only screen and (max-width : 768px) {
    opacity: 0.02
  }

  @media only screen and (max-width : 480px) {
    opacity: 0.02
  }

  @media only screen and (max-width : 320px) {

  }
}

.desc-words {
  margin: 0 auto;
  opacity: 0.8;
  font-weight: bold;
  font-size: 107.52px;
  line-height: 80px;
  letter-spacing: -4.03px; 
  color: #FFFFFF;
  /*margin-top: 10%;*/
  align-self: center;
  @media only screen and (max-width : 1200px) {
    margin-left: -80px;
  }

  @media only screen and (max-width : 992px) {
    font-size: 100px;
    letter-spacing: -3.0px; 
    line-height: 76px;
    margin-left: -200px;
  }

  @media only screen and (max-width : 768px) {
    position: absolute;
    left: 0;
    margin-left: 50px;
    font-weight: bold;
    margin-top: 100px
  }

  @media only screen and (max-width : 480px) {
    font-size: 70px;
    line-height: 50px;
    letter-spacing: -2.0px; 
  }

  @media only screen and (max-width : 320px) {

  }

}