@import "variables";
#hero {
	width: 100%;
	padding: 100px $left-padding 100px $left-padding;
	@media (min-width: $sm) {
		padding: 7.5% $left-padding 80px $left-padding;
	}
	h1 {
		font-family: Apercu Pro;
		font-weight: bold;
		font-size: 48px;
		color: #000000;
	}
	p {
		font-family: Apercu Pro;
		font-weight: 100;
		font-size: 20px;
		color: #6D6D6D;
		margin-top: 10px;
		@media (min-width: $md) {
			margin-top: 23px;
		}
	}
}