@import "variables";

nav {
	background-color: transparent;
	a {
		@media (min-width: $md) {
			margin-top: 10px;
		}
		margin-right: 20px;
	}
}

.nav-link-x {
	// @include smooth-transition;
}

.navbar-toggler {
	margin-top: 20px;
	border: none;
	&:focus {
		border: none;
		outline: none;
	}
}

.navbar-collapse {
	padding-left: 15px;
}