@import "variables";

nav {
	background-color: transparent;
	padding-top: 20px;
	a {
		margin-right: 20px;
	}
}

.navbar-nav {
	flex-direction: row !important;
}

.nav-link-x {
	@includes smooth-transition;
	opacity: 0;
}