@import "variables";
#project-page-container {
	margin: 0 auto;
	padding: 5% 20px 10%;
	@media (min-width: $sm) {
		width: 70%;
	}
}

.links {
	display: flex;
	flex-direction: column;
	@media (min-width: $md) {
		flex-direction: row;
	}

	a {
		margin-bottom: 10px;
		@media (min-width: $md) {
			margin-bottom: 0;
			margin-right: 5%;
		}
	}
}

.main-image {
	width: 100%;
}

#project-page-content {

	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		text-align: left;
		margin: 3% auto;
		@media (min-width: $md) {
			text-align: center;
			width: 60%;
		}
	}

	img {
		margin: 5% auto;
		width: 100%;
	}
	iframe {
		margin: 5% auto;
	}
}

.app-store-screenshot {
	@media (min-width: $md) {
		width: 70% !important;
	}
}

.image-large-margin {
	margin: 40px 0;
}

.full-width {
	width: 100% !important;
}

.p-small-margin-bottom {
	margin-bottom: 10px !important;
}

.p-small-margin-top {
	margin-top: 10px !important;
}

.project-page-language {
	margin-bottom: 10px;
}