
#projects-text {
  /* projects: */
  font-weight: bold;
  font-size: 107.52px;
  color: #000000;
  letter-spacing: -4.03px;
  /*margin: 5%;*/
}

.project-section {
  @media only screen and (min-width : 768px) {
    display: flex;
    flex-direction: row;
  }
}

.project-section-right {
  @media only screen and (min-width : 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.rect {
  height: 500px;
  width: 40%;
}

.right-rect {
  float: right;
  clip-path: inset( -100vw 0 -100vw -100vw );
}

.mere-rect {
  background-color: #F6E3EA;
}

.readlio-rect {
  background-color: #CAE5E9;
}

.windup-rect {
  background-color: #FFE4CB;
}

.zapata-rect {
  background-color: #F7E0D4;
}

.studyguides-rect {
 background-color: #B7C5CD; 
 /*margin-right: 100px;*/
}

.project-img {
  height: 630px;
  margin-top: 300px;
  float: right;
}

.project-img-left {
  margin-right: -100px;
}

#windup-img {
  margin-top: 400px;
}

#zapata-img {
  margin-top: 700px;
  height: 500px;
}

#studyguides-img {
  margin-top: 600px;
  float: left;
  /*height: 500px;*/
}

.project-text {
  /*align-self: center;*/
  @media only screen and (min-width : 992px) {
    margin-left: 10%;
  }
  @media only screen and (max-width : 992px) {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20%
  }
  margin-top: 5%;
}

.project-title {
  font-weight: bold;
  color: #000000;
  font-size: 107.52px;
  letter-spacing: -4.03px;
  line-height: 80px;
  margin-bottom: 40px;
  @media only screen and (max-width : 992px) {
    text-align: center;
    font-size: 90px;
    letter-spacing: -3.03px;
    line-height: 70px;
  }
}

.project-desc {
  font-weight: normal !important;
  color: #000000;
  line-height: 34px;
  margin: 0 auto;
  text-align: center;
  @media only screen and (min-width : 480px) {
    width: 80%;
  }

  @media only screen and (min-width : 768px) {
    width: 60%;
  }

  @media only screen and (min-width : 992px) {
    width: 70%;
    margin: 0;
    text-align: left;
  }
}

#project-desc-readlio {
  width: 100%;
  @media only screen and (min-width : 992px) {
    width: 40%;
  }
}


/* XS/SM */
.project-img-mobile-rect {
  height: 200px;
  width: 100%;
  margin-bottom: -200px;
}

.project-img-mobile {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.project-img-mobile-comp {
  @media only screen and (min-width : 480px) {
    padding: 5% 0;
  }
}