@import "variables";

.project {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #F0F0F0;
	/*margin-bottom: 30px;*/
	img {
		@include smooth-transition;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.project-last {
	border-bottom: 1px solid #F0F0F0;
}

/* make image small when hover */
.project-link:hover .project {
	img {
		-webkit-transform:scale(1.05);
	    -moz-transform:scale(1.05);
	    -ms-transform:scale(1.05);
	    -o-transform:scale(1.05);
	     transform:scale(1.05);
	}
}

.project-link:hover {
	.project-index {
		color: #000000;
	}

	.project-type p {
		color: #000000;	
	}

	.project-language {
		color: #000000;	
	}

	.project-desc {
		color: #4A4A4A;
	}
}

.project-image-frame {
	overflow: hidden;
	min-height: 512px;

	width: 20%;

	@media (min-width: $sm) {
		width: 44%;
	}
	@media (min-width: $lg) {
		width: 55%;
	}
}

.project-type-spacer {
	margin-bottom: 30px;
}

.project-type {
	/* hide in mobile*/
	@media (max-width: $sm) {
		display: none;
	}

	width: $left-padding;
	padding-top: 20px;

	p {
		font-size: 14px;
		transform: rotate(90deg);
	}
}

.project-info {
	@media (min-width: $sm) {
		width: 50%;
	}
	@media (min-width: $lg) {
		width: 39%;
	}
	padding: 20px 50px 30px;
	display: flex;
	flex-direction: column;

	overflow-x: hidden;
}

.project-index {
	@include smooth-transition;
	font-family: Apercu Mono;
	font-weight: normal;
	font-size: 24px;
	color: #6D6D6D;
}

.project-title {
	@include smooth-transition;
	font-family: Apercu Pro;
	font-weight: normal;
	font-size: 48px;
	color: #000000;
	/*color: #6D6D6D;*/
	margin-top: 60px;
}

.project-desc {
	@include smooth-transition;
	width: 200px;
	@media (min-width: $md) {
		width: 300px;
	}
}

.project-language {
	margin-top: auto;
}