@import "variables";

@font-face {
	font-family: 'Apercu Pro';
	src: url('/assets/fonts/ApercuPro-Regular.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('/assets/fonts/ApercuPro-Light.ttf')  format('truetype');
	font-weight: 100;
  font-style: normal;
}

@font-face {
	font-family: 'Apercu Pro';
	src: url('/assets/fonts/ApercuPro-Bold.ttf')  format('truetype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'Apercu Mono';
	src: url('/assets/fonts/Apercu-Mono.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}

.mono {
	font-family: Apercu Mono;
	font-weight: normal;
	font-size: 16px;
	color: #6D6D6D;
}

h1 {
	font-family: $main-font;
	font-weight: normal;
	font-size: 48px;
	color: #000000;
}

a {
  color: #4A4A4A;
  font-weight: normal;
  @include smooth-transition;
	&:hover {
		color: #000000;
		text-decoration: none;
	}
}

p {
	font-family: $main-font;
	font-weight: 100;
	margin-top: 10px;
	font-size: 18px;
	color: #6D6D6D;
	line-height: 30px;
}