---
layout: default
---
<div id="project-page-container">
	<p class="mono project-page-language">{{page.language}}</p>
	<h1>{{page.title}}</h1>
	<p>{{page.desc}}</p>
	<div class="links">
		{% if page.link %}
			<a href="{{ page.link }}" class="mono noselect" target="_blank">> Go to website</a>
		{% endif %}
		{% if page.app_store_link %}
			<a href="{{ page.app_store_link }}" class="mono noselect" target="_blank">> View on App Store</a>
		{% endif %}
		{% if page.github_link %}
			<a href="{{ page.github_link }}" class="mono noselect" target="_blank">> View on Github</a>
		{% endif %}
		{% if page.devpost_link %}
			<a href="{{ page.devpost_link }}" class="mono noselect" target="_blank">> View on Devpost</a>
		{% endif %}
	</div>
	<div id="project-page-content">
		{% unless page.hide_image %}
			<img class="lazy main-image" data-src="{{page.large_image_url}}">
		{% endunless %}
		{{ content }}
	</div>
</div>