
<section id="about">
	<div class="about-text">
		<h1>About Me</h1>
		<p>I’m an incoming intern at <a href="https://limelighthealth.com/">Limelight Health</a>, former intern at <a href="https://inplay.org" target="_">InPlay.org</a>, sub-director of web development for <a href="https://haxorg.io" target="_">HAX</a>, and a student at Palo Alto High. I'm also a competitive figure skater and a huge nerd. Things I obsess over include, but are not limited to, <a href="https://hpquotes.oliviachang.me" target="_">Harry Potter</a>, <a href="https://iroh.oliviachang.me" target="_">The Last Airbender</a> (the TV show, of course), and xkcd.</p>

		<p><b>P.S.</b> I'm open to new projects. Contact me below.</p>
	</div>
</section>