
<section id="about">
	<div class="about-text">
		<h1>About Me</h1>
		<p>Hi! I'm Olivia. I'm an incoming student at Olin College of Engineering.</p>
 		<p><b>Experience</b></p>
		<ul>
			<li>2019 Software Engineering Intern @ <a href="https://limelighthealth.com/">Limelight Health</a></li>
			<li>2018 Software Development Intern @ <a href="https://inplay.org" target="_">InPlay.org</a></li>
			<li>2019-2020 Head of Web Development @ <a href="https://haxorg.io" target="_">HAX</a></li>
		</ul>
		<p><b>Misc</b></p>
		<ul>
			<li>I've read <a href="https://hpquotes.oliviachang.me" target="_">Harry Potter</a> 11 times.</li>
			<li>I spout <a href="https://iroh.oliviachang.me" target="_">Avatar: The Last Airbender quotes</a> at every possible moment.</li>
			<li>Here are <a href="https://www.notion.so/Best-of-xkcd-ranked-ec0a6a362cb549e98faa38fda34d0c09" target="_">my favorite xkcd comics</a>.</li>
		</ul>
		<p><b>Work With Me</b></p>
		<p>I'm open to new projects! Get in touch at <a href="mailto:hello@oliviachang.me">hello@oliviachang.me</a> for details.</p>
	</div>
</section>