
<section id="about">
	<div class="about-text">
		<h1>About Me</h1>
 		<p>Hi! I'm Olivia.</p>
		<ul>
			<li>I've read <a href="https://hpquotes.oliviachang.me" target="_">Harry Potter</a> 11 times.</li>
			<li>I enjoy attaching knives to my feet inside a giant freezer (i.e. ice skating).</li>
			<li>I lead web development for <a href="https://haxorg.io" target="_">HAX</a>.</li>
			<li>I spout <a href="https://iroh.oliviachang.me" target="_">Avatar: The Last Airbender quotes</a> at every possible moment.</li>
			<li>
				I previously interned at <a href="https://limelighthealth.com/">Limelight Health</a> and <a href="https://inplay.org" target="_">InPlay.org</a>.
			</li>
			<li>I cried watching Frozen.</li>
			<li>Here are <a href="https://www.notion.so/Best-of-xkcd-ranked-ec0a6a362cb549e98faa38fda34d0c09" target="_">my favorite xkcd comics</a>.</li>
		</ul>
	</div>
</section>