<div class="show-desktop">
	{% assign projects = site.projects | sort: "order" %}
	{% for project in projects %}
		{% include project-types/desktop-project.html 
			url=project.url
			large_image_url=project.large_image_url
			index=forloop.index
			type=project.type
			title=project.title
			desc=project.desc
			language=project.language
			color=project.color
			%}
	{% endfor %}
</div>
<div class="show-mobile">
		<section class="section-small-projects">
		<div class="row">
			{% assign projects = site.projects | sort: "order" %}
			{% for project in projects %}
				{% include project-types/small-project.html 
					title=project.title
					desc=project.desc
					col_type="col-sm-6"
					%}
			{% endfor %}
		</div>
	</section>
</div>