<section id="about">
  <div class="about-text">
    <h1>About</h1>

    <p>
      Hello! I'm Olivia, a climate organizer and design student at Olin College.
      I've organized with Olin Climate Justice, Olin Public Interest Technology,
      Campus Climate Network, and 350 Silicon Valley. Some of my recent work
      experience:
    </p>
    <ul>
      <li>
        Designing wheelchair repair guides for Kyaro Assistive Tech in Arusha,
        Tanzania
      </li>
      <li>
        Uncovering data gaps in the EPA's polluter database with the
        Environmental Data Governance Initiative
      </li>
      <li>
        Building devices for patients with stroke and Parkinson's disease at
        MedRhythms
      </li>
      <li>Restoration crew with the Nevada Conservation Corps</li>
    </ul>
    <p>
      You can reach me at
      <a href="mailto:hello@oliviachang.me">hello@oliviachang.me</a>.
    </p>
  </div>
</section>
